body{
 
        background-color: rgb(247, 247, 245);
        
    }
    
    
 

    .home
    {
min-height: calc(100vh - 100px);
background-color: black;
        .card
        {
            
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
            min-width: 20%;
            background-color: rgb(255, 255, 255);
            margin-left: 10%;
            margin-right: 10%;
            
            
        }
    }

   
  